<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-4">
    <h1 class="lead text-center my-4">Bem-vindos ao sistema, Gerente!</h1>

    <!-- Barra de navegação -->
    <nav class="nav justify-content-center mb-4">
        <a class="btn btn-primary mx-2" th:href="@{/Produtos}">Produtos</a>
        <a class="btn btn-primary mx-2" th:href="@{/Usuario}">Usuário</a>
        <a class="btn btn-primary mx-2" th:href="@{/Financas}">Finanças</a>
        <a class="btn btn-primary mx-2" th:href="@{/Tarefas}">Tarefas</a>
        <a class="btn btn-primary mx-2" th:href="@{/Funcionarios}">Funcionários</a>
        <a class="btn btn-primary mx-2" th:href="@{/FinancasFuncionario}">Finanças Funcionário</a>
    </nav>
</div>
<form th:action="@{/index}" method="post" class="card p-4 shadow-sm mb-5">
    <div class="mb-3">
        <label for="papel" class="form-label">Papel</label>
        <select id="papel" name="papel" class="form-select" required>
            <option value="FUNCIONARIO">Funcionário</option>
            <option value="GERENTE">Gerente</option>
            <option value="FORNECEDOR">Fornecedor</option>

        </select>
    </div>

    <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem:</label>
        <input type="text" id="mensagem" name="Mensagem" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success w-100">Salvar</button>
</form>

<h2 class="mb-3">Mensagens</h2>
<table class="table table-striped table-hover shadow-sm">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Remetente</th>
        <th>Mensagem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mens : ${mensagemGerente}">
        <td th:text="${mens.id}"></td>
        <td th:text="${mens.papel}"></td>
        <td th:text="${mens.mensagem}"></td>

            <a th:href="@{/Funcionarios/delete/{id}(id=${func.id})}"
               class="btn btn-danger btn-sm">Deletar</a>
        </td>
    </tr>
    </tbody>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
